<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex h-screen justify-center items-center">
       
        <form action="/login" method="post" class="border border-black p-6">
          <h1 class="text-4xl ml-28">Login</h1><br>

            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Enter your username" class="border border-black p-4"><br><br>

            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="Enter password" class="border border-black p-4"><br><br>

            <button type="submit" class="ml-28 text-xl border border-black p-2">Submit</button>

            <% if(error){%>
        <p class="text-red-500"><%=error%></p>
            <%}%>

        </form>
    </div>
</body>
</html>