<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="h-screen flex justify-center items-center bg-pink-300">
        <%if(error){%>
            <p class="text-red-500 text-2xl"><%=error%></p>
        <%}%>
        
    <form action="/login" method="post" class="bg-gradient-to-r from-purple-600 via-pink-500 to-pink-300 py-16 px-4">
           
        <label for="username" class="text-white">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your username" class="border border-black p-3"><br><br>

        <label for="password" class="text-white">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter passwrod" class="border border-black p-3"><br><br>

        <button type="submit" class="border border-black px-3 py-2 ml-24 mr-24 bg-white hover:text-white hover:bg-pink-400">Login</button>
    </form>
    </div>
</body>
</html>